@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  /* ---- colors ---- */

  /* primaries */
  --clr-full-purple: hsl(252 94% 67%);
  --clr-pale-purple: hsl(252 100% 73%);
  --clr-full-red: hsl(0 80% 63%);
  --clr-pale-red: hsl(0 100% 80%);
  --clr-pale-blue: hsl(231 37% 63%);

  /* status */
  --clr-pending-text: hsl(34 100% 50%);
  --clr-pending-bg: rgba(255, 145, 0, 0.15);
  --clr-paid-text: hsl(160 67% 52%);
  --clr-paid-bg: rgba(51, 215, 160, 0.15);
  --clr-draft-text: hsl(231 75% 93%);
  --clr-draft-bg: rgba(224, 228, 251, 0.15);

  /* neutrals */
  --clr-neutral-100: hsl(240 27% 98%);
  --clr-neutral-200: hsl(231 72% 93%);
  --clr-neutral-300: hsl(231 20% 61%);
  --clr-neutral-400: hsl(233 30% 21%);
  --clr-neutral-500: hsl(233 31% 17%);
  --clr-neutral-600: hsl(233 30% 11%);
  --clr-neutral-700: hsl(228 29% 7%);

  /* ---- fonts ---- */

  /* font family */
  --ff-all: "League Spartan", sans-serif;

  /* font sizes */
  --fs-100: 0.688rem; /* 11px */
  --fs-200: 0.75rem; /* 12px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.25rem; /* 20px  */
  --fs-600: 2rem; /* 32px */

  /* weights */
  --fw-medium: 500;
  --fw-bold: 700;

  /* heights */
  --lh-100: 15px;
  --lh-200: 18px;
  --lh-300: 22px;
  --lh-400: 24px;
  --lh-500: 36px;

  /* spacing */
  --ls-100: -0.23;
  --ls-200: -0.25;
  --ls-300: -0.63;
  --ls-400: -0.8;
  --ls-500: -1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* Remove default link styling */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* fonts */
body {
  font-family: var(--ff-all);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: var(--lh-300);
  letter-spacing: var(--ls-300);
}

@media (min-width: 950px) {
  h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    line-height: var(--lh-500);
    letter-spacing: var(--ls-500);
  }
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  line-height: var(--lh-400);
  letter-spacing: var(--ls-400);
}

h3,
button,
#status {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-200);
}

p {
  font-weight: var(--fw-medium);
  font-size: var(--fs-200);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-200);
}
p.smaller {
  font-weight: var(--fw-medium);
  font-size: var(--fs-100);
  line-height: var(--lh-200);
  letter-spacing: var(--ls-100);
}

/* ---- basic styles --- */
.btn {
  background: none;
  border: none;
  border-radius: 20px;
  padding: 1.5em;
}

#App {
  min-height: 100vh;
  max-height: 100%;
  overflow-x: hidden;
  position: relative;
}

#App.light {
  background-color: var(--clr-neutral-200);
}
#App.dark {
  background-color: var(--clr-neutral-700);
}

.container {
  margin: auto;
  max-width: 325px;
}

/* --- tablet style --- */
@media (min-width: 600px) {
  .container {
    margin: auto;
    max-width: calc(100% - 4em);
  }

}
/* desktop style */
@media (min-width: 950px) {
  .container {
    margin: auto;
    max-width: 730px;
    padding-top: 2em;
  }
}