@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  /* ---- colors ---- */

  /* primaries */
  --clr-full-purple: hsl(252 94% 67%);
  --clr-pale-purple: hsl(252 100% 73%);
  --clr-full-red: hsl(0 80% 63%);
  --clr-pale-red: hsl(0 100% 80%);
  --clr-pale-blue: hsl(231 37% 63%);

  /* status */
  --clr-pending-text: hsl(34 100% 50%);
  --clr-pending-bg: rgba(255, 145, 0, 0.15);
  --clr-paid-text: hsl(160 67% 52%);
  --clr-paid-bg: rgba(51, 215, 160, 0.15);
  --clr-draft-text: hsl(231 75% 93%);
  --clr-draft-bg: rgba(224, 228, 251, 0.15);

  /* neutrals */
  --clr-neutral-100: hsl(240 27% 98%);
  --clr-neutral-200: hsl(231 72% 93%);
  --clr-neutral-300: hsl(231 20% 61%);
  --clr-neutral-400: hsl(233 30% 21%);
  --clr-neutral-500: hsl(233 31% 17%);
  --clr-neutral-600: hsl(233 30% 11%);
  --clr-neutral-700: hsl(228 29% 7%);

  /* ---- fonts ---- */

  /* font family */
  --ff-all: "League Spartan", sans-serif;

  /* font sizes */
  --fs-100: 0.688rem; /* 11px */
  --fs-200: 0.75rem; /* 12px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.25rem; /* 20px  */
  --fs-600: 2rem; /* 32px */

  /* weights */
  --fw-medium: 500;
  --fw-bold: 700;

  /* heights */
  --lh-100: 15px;
  --lh-200: 18px;
  --lh-300: 22px;
  --lh-400: 24px;
  --lh-500: 36px;

  /* spacing */
  --ls-100: -0.23;
  --ls-200: -0.25;
  --ls-300: -0.63;
  --ls-400: -0.8;
  --ls-500: -1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* Remove default link styling */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* fonts */
body {
  font-family: var(--ff-all);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: var(--lh-300);
  letter-spacing: var(--ls-300);
}

@media (min-width: 800px) {
  h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    line-height: var(--lh-500);
    letter-spacing: var(--ls-500);
  }
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  line-height: var(--lh-400);
  letter-spacing: var(--ls-400);
}

h3,
button,
#status {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-200);
}

p {
  font-weight: var(--fw-medium);
  font-size: var(--fs-200);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-200);
}
p.smaller {
  font-weight: var(--fw-medium);
  font-size: var(--fs-100);
  line-height: var(--lh-200);
  letter-spacing: var(--ls-100);
}

/* ---- basic styles  & mobile ---- */
#App {
  min-height: 100vh;
  max-height: 100%;
  overflow-x: hidden;
  position: relative;
}

#App.light {
  background-color: var(--clr-neutral-200);
}
#App.dark {
  background-color: var(--clr-neutral-700);
}

.container {
  margin: auto;
  max-width: 325px;
}

/* status flag component */
#status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  text-transform: capitalize;
}
#status::before {
  content: " ";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 0.5em;
}
#status.pending {
  color: var(--clr-pending-text);
  background-color: var(--clr-pending-bg);
}
#status.pending::before {
  background-color: var(--clr-pending-text);
}

#status.paid {
  color: var(--clr-paid-text);
  background-color: var(--clr-paid-bg);
}
#status.paid::before {
  background-color: var(--clr-paid-text);
}

#status.draft {
  color: var(--clr-draft-text);
  background-color: var(--clr-draft-bg);
}
#status.draft::before {
  background-color: var(--clr-draft-text);
}

#status.draft.light {
  color: var(--clr-neutral-700);
  background-color: var(--clr-neutral-200);
}
#status.draft.light::before {
  background-color: var(--clr-neutral-700);
}

/* HOME top menu */

/* -- invoice preview component -- */

/* light and dark themes */
#invoice-preview.dark {
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-100);
}
#invoice-preview.dark span {
  color: var(--clr-neutral-200);
}
#invoice-preview.light {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
}
#invoice-preview.light span,
#invoice-preview.light p {
  color: var(--clr-neutral-300);
}

/* styles */
#invoice-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

#invoice-preview h3 {
  margin-bottom: 20px;
}

#invoice-preview span {
  grid-column: 1/2;
}

#invoice-preview p {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: right;
}

#invoice-preview h2 {
  grid-column: 1/2;
}

#invoice-preview #status {
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: right;
}

#invoice-preview img {
  display: none;
}

@media (hover: hover) {
  #invoice-preview:hover {
    border: 1px solid var(--clr-full-purple);
  }
}

/* ----  Invoice Detail Page ---- */

/* light and dark themes */
#invoice-detail .background.dark {
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-200);
}
#invoice-detail .background.light {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-700);
}

#invoice-detail header button.dark {
  color: var(--clr-neutral-100);
}

/* Styles */

#invoice-detail header button {
  background: none;
  border: none;
  display: flex;
  gap: 20px;
  padding: 2em 0;
}

#invoice-detail .status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  border-radius: 10px;
  margin-bottom: 1em;
}

#invoice-detail .action-buttons {
  display: none;
}

#invoice-detail .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em;
  border-radius: 10px;
  margin-bottom: 2em;
}

#invoice-detail .invoice-header {
  grid-column: 1/3;
  margin-bottom: 2em;
}

#invoice-detail .address {
  grid-column: 1/3;
  margin-bottom: 2em;
}

#invoice-detail .invoice-date {
  grid-column: 1/2;
  margin-bottom: 2em;
}

#invoice-detail .invoice-date p {
  margin-bottom: 1em;
}

#invoice-detail .payment-date {
  grid-column: 1/2;
  margin-bottom: 2em;
}

#invoice-detail .payment-date p {
  margin-bottom: 1em;
}

#invoice-detail .bill-to {
  grid-column: 2/3;
  grid-row: 3/5;
}
#invoice-detail .bill-to :nth-child(1) {
  margin-bottom: 1em;
}
#invoice-detail .bill-to :nth-child(2) {
  margin-bottom: 1em;
}

#invoice-detail .sent-to {
  margin-bottom: 2em;
}
#invoice-detail .sent-to p {
  margin-bottom: 1em;
}

#invoice-detail .invoice-items {
  grid-column: 1/3;
  grid-row: 6/7;
  padding: 2em 2em 1em 2em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#invoice-detail .items-header {
  display: none;
}

#invoice-detail li {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  margin-bottom: 1em;
}

#invoice-detail .item-name {
  grid-column: 1/3;
}

#invoice-detail .item-qty {
  grid-column: 1/2;
  grid-row: 2/3;
}

#invoice-detail .item-price {
  grid-column: 2/3;
  grid-row: 2/3;
}

#invoice-detail .item-total {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
}

#invoice-detail .invoice-items.dark {
  background-color: var(--clr-neutral-400);
}
#invoice-detail .invoice-items.light {
  background-color: var(--clr-neutral-200);
}

#invoice-detail .total {
  grid-row: 7/8;
  grid-column: 1/3;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#invoice-detail .total.dark {
  background-color: var(--clr-neutral-700);
}
#invoice-detail .total.light {
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
}

#invoice-detail .total-amount {
  font-size: var(--fs-500);
}

#invoice-detail footer {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

button.btn {
  background: none;
  border: none;
  border-radius: 20px;
  padding: 1.5em;
}
button.edit-btn.dark {
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
}
button.edit-btn.light {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}
button.delete-btn {
  background-color: var(--clr-full-red);
  color: var(--clr-neutral-100);
}
button.paid-btn {
  background-color: var(--clr-full-purple);
  color: var(--clr-neutral-100);
}
@media (hover: hover) {
  button.edit-btn.dark:hover {
    cursor: pointer;
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
  }
  button.edit-btn.light:hover {
    cursor: pointer;
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-300);
  }
  button.delete-btn:hover {
    cursor: pointer;
    background-color: var(--clr-pale-red);
  }
  button.paid-btn:hover {
    cursor: pointer;
    background-color: var(--clr-pale-purple);
  }

  #invoice-detail header button {
    cursor: pointer;
  }
}

/* --- tablet style --- */
@media (min-width: 600px) {
  .container {
    margin: auto;
    max-width: calc(100% - 4em);
  }

  #invoice-preview {
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    column-gap: 8px;
    align-items: center;
  }

  #invoice-preview h3 {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #invoice-preview span {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #invoice-preview p {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  #invoice-preview h2 {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: right;
  }

  #invoice-preview #status {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: right;
  }

  #invoice-preview img {
    display: block;
    max-width: 4px;
    max-height: 8px;
    grid-column: 6/7;
    justify-self: center;
  }

  #invoice-detail .status {
    display: grid;
    grid-template-columns: 0.3fr 1fr 2fr;
  }
  #invoice-detail .action-buttons {
    display: block;
    grid-column: 3/4;
    justify-self: right;
  }

  #invoice-detail .details {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #invoice-detail .invoice-header {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #invoice-detail .invoice-header h3 {
    font-size: var(--fs-300);
  }

  #invoice-detail .address {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
    text-align: right;
  }

  #invoice-detail .bill-to {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  #invoice-detail .sent-to {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  #invoice-detail .invoice-items {
    grid-column: 1/4;
  }
  #invoice-detail .total {
    grid-column: 1/4;
  }
  #invoice-detail .items-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  #invoice-detail .header-item-qty {
    justify-self: center;
  }
  #invoice-detail .header-item-price {
    justify-self: right;
  }
  #invoice-detail .header-item-total {
    justify-self: right;
  }

  #invoice-detail li {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  #invoice-detail .item-name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #invoice-detail .item-qty {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
  #invoice-detail .item-qty span {
    display: none;
  }
  #invoice-detail .item-price {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
  }
  #invoice-detail .item-total {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #invoice-detail footer {
    display: none;
  }
}

/* desktop style */
@media (min-width: 800px) {
  .container {
    margin: auto;
    max-width: 730px;
  }
}
